<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
  <div class="container">
    <h1><input <%= "checked" if @task.completed %> type="checkbox" name=""><%= @task.title %></h1>
    <p> <%=@task.details%> </p>
  </div>
  <%= link_to "Edit the task", edit_task_path(@task.id) %>
  <%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
</div>

<%= link_to "Go back to the tasks list", tasks_path %>
